.exit-terminal {
  background-color: #E0E0E0;
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo_exit {
  width: 160px;
}

.open {
  padding: 10px;
  font-size: large;
  font-weight: bold;
}

.formId {
  width: 150px;
  alignment: center;
}

.open-false {
  opacity: 50%;
}

.mrb {
  margin: 20px;
}

.input-div{
  text-align: center;
}

